header {
  background-color: rgb(82, 0, 118);
  color: white;
  padding: 1px;
  height: 50px;
  display: flex;
  align-items: center;
}

img {
  width: 100%;
}

.user-input {
  margin: 1rem 0;
}

input,
#notes {
  width: 100%;
}

input {
  height: 2rem;
}

textarea {
  height: 8em;
}

.label {
  height: 1.8rem;
}

button {
  background-color: rgb(82, 0, 118);
  color: white;
  border-radius: 5px;
  height: 2rem;
  width: 5rem;
}

.submit {
  justify-content: flex-end;
}
